{:source-paths ["src"]
 :dependencies [[reagent "0.10.0"]
                [org.clojure/core.async "1.1.587"]]
 :dev-http {8000 "public/"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:main {:init-fn slingcode.main/main!}}
                :devtools {:after-load slingcode.main/reload!
                           :preloads [shadow.remote.runtime.cljs.browser]}
                :release {:output-dir "build/js"}}}}
