/* #31D584 */
/* #E5B413 */
/* #50A1EA */
/* #C64438 */

body, html {
  margin: 0px;
  padding: 0px;
  background-color: #232a25;
  color: #999;
  font-family: "Courier New", monospace;
  font-size: 24px;
  font-weight: bold;
}

#loading {
  text-align: center;
  margin-top: 5em;
  animation: blinker 1s linear infinite;
}

@keyframes blinker { 50% { opacity: 0; } }

h3 {
  font-size: 32px;
}

h2 {
  font-size 48px;
}

h1 {
  font-size: 96px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #31D584;
}

a:hover {
  color: #8FF8C4;
}

button {
  cursor: pointer;
  background-color: #E5B413;
  border: 0px;
  border-radius: 3px;
  width: 128px;
  font-size: 24px;
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: #232323;
  height: 48px;
}

blockquote {
  font-style: italic;
  color: #666;
}

button:hover {
  background-color: #eee;
}

.light {
  color: #666;
}

section#header p {
  margin-left: 1em;
}

div#logo img {
  position: absolute;
  top: 24px;
  left: 22px;
}

div#logo span {
  position: absolute;
  top: 22px;
  left: 160px;
}

#header svg {
  stroke: #777;
  position: absolute;
  top: 60px;
}

nav {
  position: absolute;
  top: 1em;
  right: 1em;
}

@media (max-width: 600px) {
  nav {
    top: 3.5em;
    z-index: 100;
  }
}

.title {
  color: #eee;
}

.warning {
  width: 100%;
  position: fixed;
  top: 1em;
}

.warning .message {
  background-color: #232a25;
  color: #C64438;
  border: 2px solid #C64438;
  border-radius: 5px;
  width: 800px;
  max-width: 100%;
  margin: auto;
  padding: 1em;
}

.warning .message svg {
  fill: #C64438;
  float: right;
  cursor: pointer;
}

/*** website markdown ***/

section.website li {
  margin-bottom: 0.5em;
}

section.website code {
  font-family: "Courier New", monospace;
  font-size: 24px;
  font-weight: bold;
  color: #eee;
}

section.website img {
  max-width: 100%;
  margin: auto;
  display: block;
  border: 2px solid #eee;
  border-radius: 5px;
  margin-top: 3em;
  margin-bottom: 3em;
}

section.website h3 {
  margin-top: 3em;
}

section.website blockquote {
  color: #50A1EA;
}

/*** apps ***/

/* tags */

#tags {
  border-bottom: 2px solid #444;
  margin-bottom: 1em;
}

#tags ul {
  display: inline-block;
  overflow: auto;
  margin: 0px;
  padding: 0.25em;
}

#tags ul li {
  display: inline-block;
  margin-right: 1.5em;
}

#tags ul li a {
  cursor: pointer;
  color: #999;
  text-decoration: none;
}

#tags ul li a:hover {
  color: #bbb;
}

#tags ul li.active a {
  color: #eee;
}

section.screen {
  margin: 7em auto;
}

section#apps {
  width: 100%;
  max-width: 800px;
  padding: 1em;
}

section#about {
  width: 100%;
  max-width: 800px;
  padding: 1em;
}

/*** individual app ***/

div.app {
  border-bottom: 2px solid #444;
  padding: 1.5em 0px;
  cursor: pointer;
}

div.app button svg {
  fill: #232323;
  margin-top: 6px;
}

div.app button {
  fill: #eee;
}

div.app button + button {
  margin-left: 4px;
}

div.app .link-out svg {
  fill: #bbb;
  margin-bottom: -0.5em;
  width: 24px;
  margin-left: 0.5em;
}

#apps .columns {
  display: flex;
}

@media (max-width: 600px) {
  #apps .columns {
    flex-direction: column;
  }

  #apps .column > * {
    display: inline-block;
    margin-right: 0.25em;
  }

  #apps .column > *:first-child {
    display: block;
  }
}

#apps .column {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
}

@media (max-width: 600px) {
  #apps .column {
    padding: 0px;
  }
}

#apps .column > * {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

#apps .actions {
  text-align: right;
  margin-bottom: 0.5em;
  float: right;
  margin-top: -1em;
}

#apps a.title {
  color: #eee;
  text-decoration: none;
}

#apps p.title {
  color: #50A1EA;
}

#apps a svg {
  fill: #50A1EA;
}

#apps p {
  color: #666;
}

#apps .tags span {
  background-color: #666;
  padding: 0.125em 0.5em;
  border-radius: 4px;
  color: #232323;
}

#apps .tags span + span {
  margin-left: 0.25em;
}

/*** add button ***/

button#add-app {
  position: fixed;
  bottom: 32px;
  right: 32px;
  font-size: 32px;
  font-family: "Courier New", monospace;
  font-weight: bold;
  border-radius: 2em;
  width: 64px;
  height: 64px;
  border: 0px;
  color: #232a25;
  border: 4px solid #232a25;
}

#add-app:hover {
  background-color: #eee;
}

/*** editor ***/

section#editor #file-menu {
  padding: 0px;
  margin-top: -3.5em;
  margin-left: 136px;
  position: relative;
}

@media (max-width: 600px) {
  section#editor #file-menu {
    margin-top: 0px;
    margin-left: 0px;
  }
}

section#editor #file-menu li {
  display: inline-block;
  margin-left: 1em;
  color: #eee;
}

section#editor #file-menu li a {
  color: #aaa;
}

section#editor ul#files {
  padding-bottom: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  border-bottom: 2px solid #999;
}

section#editor ul#files li {
  border: 2px solid #999;
  border-bottom: none;
  padding: 0.25em 1em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
  margin-bottom: -2px;
}

section#editor ul#files li.active {
  background-color: #232a25;
}

section#editor ul#files li a {
  text-decoration: none;
  color: #aaa;
}

div.editor > div {
  height: 100%;
}

.CodeMirror {
  background: none !important;
  font-family: "Courier New", monospace;
  font-size: 24px;
}

.CodeMirror-gutters {
  background: rgba(255,255,255,0.1) !important;
}

.color-warn {
  color: #C64438 !important;
}

/*** popout ***/

#result {
  background-color: white;
  border: 0px solid transparent;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
